<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">คำถาม</th>
            <th scope="col">ตอบ</th>

        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>มหาวิทยาลัยเกษตรศาสตร์ วิทยาเขตศรีราชามีกี่คณะ ?</td>
            <td>ประกอบด้วย 5 คณะ ได้แก่

                คณะวิทยาการจัดการ
                คณะวิศวกรรมศาสตร์ศรีราชา
                คณะวิทยาศาสตร์ ศรีราชา
                คณะเศรษฐศาสตร์ ศรีราชา
                คณะพาณิชยนาวีนานาชาติ</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td> มหาวิทยาลัยเกษตรศาสตร์ วิทยาเขตศรีราชาตั้งอยู่ที่ไหน ?</td>
            <td>เลขที่ 199 หมู่ 6 ถนนสุขุมวิท ต.ทุ่งสุขลา อ.ศรีราชา จ.ชลบุรี 20230 โทรศัพท์ : 0-3835-4580-4 (666103)
            </td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td> หากจำรหัสผ่านไม่ได้ควรทำอย่างไร </td>
            <td>ติดต่อด้วยตนเองที่ อาคาร 1 บริการวิทยาการ ชั้น 3 งานเทคโนโลยีสารสนเทศ กองบริการกลาง สำนักงานวิทยาเขต
                ในวันจันทร์ - ศุกร์ เวลา 8.30 - 17.30 น.</td>
        </tr>
    </tbody>
</table>